@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

:root {
  --c1: #e5d1ae;
  --c2: #d4b281;
  --c3: #bb5d58;
  --c4: #8d4f5c;
  --c5: #5a3a3d;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
}

html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 75px auto;
}

header {
  grid-column: span 2;
  background-color: var(--c5);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header > button {
  margin: 0 10px 0 auto;
  background-color: var(--c3);
  color: whitesmoke;
  border-radius: 10px;
}

nav {
  background-color: var(--c1);
  display: grid;
  padding: 10px 20px 10px 20px;
  align-content: start;
  gap: 5px;
}

.tab {
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 12px;
  padding-left: 4px;
}

.tab:hover {
  background-color: white;
}

#projects {
  margin-top: 10px;
  font-weight: bolder;
}

main {
  background-color: var(--c2);
  overflow: auto;
  display: grid;
  align-content: start;
}

#head {
  background-color: var(--c3);
  color: whitesmoke;
  display: flex;
  padding: 10px;
  position: sticky;
  top: 0;
}

#content {
  display: grid;
  padding: 10px;
  gap: 10px;
}

#todo {
  background-color: rgba(255, 255, 255, 0.521);
  display: grid;
  grid-template-columns: 50px auto;
  font-size: 0.9rem;
}

#todo > input {
  grid-row: span 3;
  margin: 10px;
}

#todo > div:nth-child(3) {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.705);
}

#todoFlex {
  display: flex;
  font-size: 0.8em;
}

#todoFlex > div {
  margin-right: 10px;
}
